nav {
    background-color: #F2EFF0;
    width: 100%;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 72rem;
    align-items: center;
}

.logo {
    height: 4rem;
    padding-right: 1rem;
}

.navbar-title {
    display: flex;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-weight: 800;
    color: #3f3f3f;

}

#title-mobile {
    display: none;
}

#logInOut {
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .navbar-wrapper {
        padding: 1rem;
    }

    #title-desktop {
        display: none;
    }

    #title-mobile {
        margin: 0;
        display: block;
    }
}