nav {
    background-color: #F2EFF0;
    width: 100%;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 72rem;
    align-items: center;
    padding: 1rem;
}

.logo {
    width: 10rem;
}

.link {
    font-size: x-large;
    font-weight: bold;
}

#logInOut {
    background-color: transparent;
    border: 0;
}